<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEST TOP5 화장실</title>
    <link rel="style.css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--구글 폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" type="text/css">
    <!-- Basic styles of the plugin -->
    <link rel="stylesheet" href="jquery.rateyo.css"/>
    <style type="text/css">
    * {
    font-family: 'Jua', sans-serif;
    }
    h2 {
        font-family: 'Jua', sans-seris;
        text-align:center;
    }
    </style>
 
</head> 
<body>
<h2>BEST TOP5</h2>
<br>
<div class="card mb-3" style="width:50%;height:500px;margin:auto;">
  <img src="https://mblogthumb-phinf.pstatic.net/20150614_9/rkdeo3_1434278317399SViIA_JPEG/20150510_152104.jpg?type=w2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">1위 화장실</h5>
    <p class="card-text">넓고 쾌적해요</p>
   
  </div>
</div>
</body>
</html>
